@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Tahoma-Regular";
    src: url("../fonts/Tahoma-Regular/Tahoma-Regular.eot");
    src: url("../fonts/Tahoma-Regular/Tahoma-Regular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Tahoma-Regular/Tahoma-Regular.woff") format("woff"),
    url("../fonts/Tahoma-Regular/Tahoma-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Tahoma-Bold";
    src: url("../fonts/Tahoma-Bold/Tahoma-Bold.eot");
    src: url("../fonts/Tahoma-Bold/Tahoma-Bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/Tahoma-Bold/Tahoma-Bold.woff") format("woff"),
    url("../fonts/Tahoma-Bold/Tahoma-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "MyriadProRegular";
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot");
    src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"),
    url("../fonts/MyriadProRegular/MyriadProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}