.clear{

}

/*===========block=========*/

.df-coinsblock{
	text-align: center;
}
.dftopcap{
	color: #999999;
	font-size: 14.5px;
	line-height: 26.3px;
	font-family: "Tahoma-Regular";
	display: block;	
	margin-bottom: 5px;	
	background:none !important;
}
.dftopcap em{
	font-family: "Tahoma-Bold";
}
.dftopblock{
	max-width: 199px;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-right: 14px;
	margin-bottom: 15px;
}
.dfchar1, .dfchar2, .dfchar3, .dfchar4{
	display: inline-block;
	padding: 3px 3px;
	margin-bottom: 3px;		
	background-color: #6c6;
	background-image: linear-gradient(to top, #ababab 0%, #eee 100%);
	background-image: -webkit-linear-gradient(bottom, #ababab 0%, #eee 100%);
	border: 1px solid #8e8e8e;
	border-radius: 3px;
	box-shadow: inset 0 0 3px rgba(215, 215, 215, 0.4);
	color: white;
	font-family: "Tahoma-Regular";
	font-size: 13px;
	font-weight: 400;
		/*line-height: 47px;*/
}
.dfchar2{
	background-image: -webkit-linear-gradient(bottom, #20bb3d 0%, #4edb68 100%);
	background-image: linear-gradient(to top, #20bb3d 0%, #4edb68 100%);
	border: 1px solid #13952c;
	box-shadow: inset 0 0 3px rgba(75, 217, 102, 0.45);
}
.dfchar3{
	background-image: -webkit-linear-gradient(bottom, #ff8d00 0%, #fc0 100%);
	background-image: linear-gradient(to top, #ff8d00 0%, #fc0 100%);
	border: 1px solid #ff8f00;
	box-shadow: inset 0 0 3px rgba(249, 247, 197, 0.45);
}
.dfchar4{
	background-image: -webkit-linear-gradient(bottom, #cc261b 0%, #ec3226 100%);
	background-image: linear-gradient(to top, #cc261b 0%, #ec3226 100%);
	border: 1px solid #a80a00;
	box-shadow: inset 0 0 3px rgba(253, 82, 70, 0.75);
}
.dfbox1, .dfbox2, .dfbox3, .dfbox4{
	border: 1px solid #c3c3c3;
	border-radius: 4px;
	padding: 20px 15px;
	font-family: "Tahoma-Regular";
}
.dfbox2{
	background-image: -webkit-linear-gradient(bottom, rgba(76, 164, 237, 0.1) 0%, transparent 100%);
	background-image: linear-gradient(to top, rgba(76, 164, 237, 0.1) 0%, transparent 100%);
	border: 1px solid #3372ca;
}
.dfbox3{
	background-image: -webkit-linear-gradient(bottom, #fffbe3 0%, transparent 100%);
	background-image: linear-gradient(to top, #fffbe3 0%, transparent 100%);
	border: 1px solid #f28900;
}
.dfbox4{
	background-image: -webkit-linear-gradient(bottom, #fcc 0%, transparent 100%);
	background-image: linear-gradient(to top, #fcc 0%, transparent 100%);
	border: 1px solid #a80a00;
}
.dfbox span{
	display: block;
}
.dfbox a{
	display: block;
}
.txt1{
	color: #676767;
	font-size: 13.5px;		
	/*font-family: "Tahoma-Regular";*/
	padding-bottom: 15px;
}
.txt2{
	color: #333333;
	font-size: 13.5px;		
	font-family: "Tahoma-Bold";
	padding-bottom: 16px;
}
.txt3{
	color: #999999;
	font-size: 16.95px;		
	/*font-family: "Tahoma-Regular";*/
	padding-bottom: 5px;
}
.dfprice{
	color: #333;
	font-family: "Tahoma-Bold";
	font-size: 41px;
	font-weight: 700;	
	padding-bottom: 12px;	
}
.txt4{
	color: red;
	font-family: "Tahoma-Bold";
	font-size: 17px;
	font-weight: 700;
	padding-bottom: 12px;		
}
.txt5{
	color: #999;
	/*font-family: "Tahoma-Regular";*/
	font-size: 10px;
	font-weight: 400;	
	padding-bottom: 4px;	
}
.dfbutton1, .dfbutton2, .dfbutton3, .dfbutton4 {
	display: inline-block;
	color: white;
	/*font-family: "Tahoma-Regular";*/
	font-size: 24px;
	font-weight: 400;
	line-height: 22px;
	// background-color: #009cff;
	background: -webkit-linear-gradient(bottom, rgba(#b3b3b3, 0.7) 0%, rgba(#ededed, 0.7) 100%);
	background: linear-gradient(to top, rgba(#b3b3b3, 0.7) 0%, rgba(#ededed, 0.7) 100%);
	border: 1px solid #8e8e8e;
	border-radius: 3px;
	box-shadow: inset 0 0 3px rgba(233, 233, 233, 0.32);
	padding: 15px 30px 15px 30px;	
	-o-transition: 0.4s;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition: 0.4s;
	position: relative;
	img{
		display: inline-block;
		vertical-align: bottom;
		margin-right: 10px;	
		z-index: 10;
	}	
		
}
.dfbutton1:hover{	
	background: -webkit-linear-gradient(bottom, rgba(#828282, 0.7) 0%, rgba(#ededed, 1) 100%);
	background: linear-gradient(to top, rgba(#828282, 0.7) 0%, rgba(#ededed, 1) 100%);	
}

.dfbutton2{
	background-image: -webkit-linear-gradient(bottom, #3371c9 0%, #48a0ec 100%);
	background-image: linear-gradient(to top, #3371c9 0%, #48a0ec 100%);
	border: 1px solid #3372ca;
	box-shadow: inset 0 0 3px rgba(71, 159, 235, 0.32);	
}
.dfbutton2:hover{
	background-image: -webkit-linear-gradient(bottom, #2b5ea7 0%, #48a0ec 100%);
	background-image: linear-gradient(to top, #2b5ea7 0%, #48a0ec 100%);
}
.dfbutton3{
	background-image: -webkit-linear-gradient(bottom, #ff8d00 0%, #fc0 100%);
	background-image: linear-gradient(to top, #ff8d00 0%, #fc0 100%);
	border: 1px solid #f28900;
	box-shadow: inset 0 0 3px rgba(249, 247, 197, 0.57);
}
.dfbutton3:hover{
	background-image: -webkit-linear-gradient(bottom, #e38005 0%, #fc0 100%);
	background-image: linear-gradient(to top, #e38005 0%, #fc0 100%);
}
.dfbutton4{
	background-image: -webkit-linear-gradient(bottom, #be0200 0%, #ff3b30 100%);
	background-image: linear-gradient(to top, #be0200 0%, #ff3b30 100%);
	border: 1px solid #a80a00;
	box-shadow: inset 0 0 3px rgba(255, 114, 114, 0.57);
}
.dfbutton4:hover{
	background-image: -webkit-linear-gradient(bottom, #8d0302 0%, #ff3b30 100%);
	background-image: linear-gradient(to top, #8d0302 0%, #ff3b30 100%);
}

/*=============cabinet*/


.dflogin{
	font-size: 20.9px;
	color: #333333;
	font-family: "Tahoma-Bold";
	padding: 30px 0;
	text-align: center;
	overflow: hidden;
	span{
		font-family: "Tahoma-Regular";
		font-size: 17px;
		color: #999999;
	}
}
.dflogout{
	font-size: 17px;
	color: #999999;
	font-family: "Tahoma-Regular";
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 5px 10px;
	display: inline-block;
	margin-top: 10px;
	transition:0.5s;
}
.dflogout:hover{
	color: #494948;
	border: 1px solid #333;
}

.dfbalance{
	padding-bottom: 30px;
	text-align: center;
}
.dfboxcab{
	max-width: 160px;
	width: 100%;
	display: inline-block;
	font-family: "Tahoma-Regular";
	margin-bottom: 37px;
}
.dfba{
	font-size: 19px;
	color: #999999;
	display: block;
	margin-bottom: 20px;
}
.dfba2{
	font-family: "Tahoma-Bold";
	font-size: 17px;
	color: #333333;
	background-image: url("../img/money2.png");
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 27px;
	display: inline-block;
	min-height: 21px;
}
.dfright{
	background-image: url("../img/money1.png");
}
.dflinks1, .dflinks2{
	font-size: 16px;
	color: #fafafa;
	display: inline-block;
	padding: 17px 14px;
	background-color: #a80a00;
	background-image: -webkit-linear-gradient(bottom, #18b536 0%, #4cd964 100%);
	background-image: linear-gradient(to top, #18b536 0%, #4cd964 100%);
	border: 1px solid #0c7e22;
	border-radius: 5px;
	box-shadow: inset 0 0 3px rgba(77, 240, 106, 0.32);
	display: block;
	width: 143px;
	margin: 0 auto;
	font-family: "Tahoma-Regular";
}
.dflinks1:hover{
	background-image: -webkit-linear-gradient(bottom, #179c30 0%, #4cd964 100%);
	background-image: linear-gradient(to top, #179c30 0%, #4cd964 100%);
}
.dflinks2{
	background-image: -webkit-linear-gradient(bottom, #3371c9 0%, #48a0ec 100%);
	background-image: linear-gradient(to top, #3371c9 0%, #48a0ec 100%);
	border: 1px solid #3372ca;
	margin-top: 17px;	
}
.dflinks2:hover{
	background-image: -webkit-linear-gradient(bottom, #2c63b1 0%, #48a0ec 100%);
	background-image: linear-gradient(to top, #2c63b1 0%, #48a0ec 100%);
}
.dfborder100{
	border-bottom: 1px solid  #bdbdbd;
}

.dftextblock{
	padding-top: 15px;
	font-family: "Tahoma-Regular";
	padding-bottom: 25px;	
	text-align: center;
	h4{
		padding-bottom: 10px;
		font-size: 19px;
		color: #333333;		
	}
	p{
		max-width: 450px;
		width: 100%;
		margin: 0 auto;
		font-size: 14.57px;
		color: #333333;
		padding-bottom: 15px;
		line-height: 23.6px;
	}
}

.dfyourlink{
	font-family: "SFUIDisplay-Medium";
	font-size: 17.7px;
	color: #4a4a4a;
	display: block;	
	max-width: 500px;
	padding-bottom: 7px;
}
.dfinp{
	max-width: 325px;
	width: 100%;
	display: inline-block;
	padding: 14px 10px;	
	color: #333333;
	border-radius: 5px;
	border: 1px solid #cccccc;
	font-size: 20.75px;
	margin-bottom: 15px;
}
.dfbuttoncopy{
	font-size: 22px;
	color: #ffffff;
	background-color: #009cff;
	background-image: -webkit-linear-gradient(bottom, #3371c9 0%, #48a0ec 100%);
	background-image: linear-gradient(to top, #3371c9 0%, #48a0ec 100%);
	border: 1px solid #3372ca;
	border-radius: 4px;
	box-shadow: inset 0 0 3px rgba(71, 159, 235, 0.32);
	padding: 20px 45px;
	display: inline-block;
}
.dfbuttoncopy:hover{
	background-image: -webkit-linear-gradient(bottom, #2d64b3 0%, #48a0ec 100%);
	background-image: linear-gradient(to top, #2d64b3 0%, #48a0ec 100%);
}
.dffriend{
	display: block;
	font-size: 19px;
	color: #333333;
	padding:20px 0 12px 0;
}
.dfmycoins{
	display: block;
	font-size: 33px;
	color: #333333;
}

.dfgetcoin{
	padding-top: 20px;
	font-family: "Tahoma-Regular";
	text-align: center;
	padding-bottom: 30px;
	a{
		background-color: #009cff;
		background-image: -webkit-linear-gradient(bottom, #ff8d00 0%, #fc0 100%);
		background-image: linear-gradient(to top, #ff8d00 0%, #fc0 100%);
		border: 1px solid #e37e00;
		border-radius: 4px;
		box-shadow: inset 0 0 3px rgba(71, 159, 235, 0.32);
		display: inline-block;
		padding: 20px 52px;
		font-size: 22px;
		color: #ffffff;
	}
}
.dfgetcoin a:hover{
	background-image: -webkit-linear-gradient(bottom, #df7c03 0%, #fc0 100%);
	background-image: linear-gradient(to top, #df7c03 0%, #fc0 100%);
}
.dfbonus{
	font-size: 19px;
	color: #333333;
	display: block;
}
.df3coins{
	font-size: 33px;
	color: #333333;
	display: block;
	padding: 14px 0 20px 0;
}



.dfcabbutton{	
	border: 1px solid #999;
	background-image: -webkit-linear-gradient(bottom, #e8ffd9 0%, #fefffe 100%);
	background-image: linear-gradient(to top, #e8ffd9 0%, #fefffe 100%);	
	padding: 0px 0px 0px 4px !important;
	span{		
		background-image: -webkit-linear-gradient(bottom, #ff8d00 0%, #fc0 100%);
		background-image: linear-gradient(to top, #ff8d00 0%, #fc0 100%);
		display: inline-block;
		padding: 8px 10px;
		height: auto !important;
		font-size: 21px;
		color: #ffffff;
		margin-left: 11px;
	}
	img{
		display: inline-block;
		vertical-align: text-bottom;
		margin-right: 5px;
	}
}
.dfcabbutton:hover{		
	span{
		background-image: -webkit-linear-gradient(bottom, #e17e04 0%, #fc0 100%);
		background-image: linear-gradient(to top, #e17e04 0%, #fc0 100%);	
	}
}
.dfmymr{
	padding-right: 11px !important;
	vertical-align: top;
}


/*===========chat ===========*/
.dfcapchat{
	font-size: 16.7px;
	color: #333333;
	font-family: "Tahoma-Regular";
	text-align: center;
	margin-bottom: 9px;
}
.dfchat{
	font-family: "Tahoma-Regular";
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	font-size: 14.6px;
	max-width: 678px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
}
.dfonecomment{	
	padding: 12px 0 10px 9px;
	border-bottom: 1px solid #ccc;
	text-align: left;
}
.last{
	border-bottom: 1px solid #999999 !important;	
}
.dfdate{
	color: #cccccc;
	display: inline-block;
	margin-right: 10px;
	float: left;
}
.dfnick{
	color: #999999;
	display: inline-block;	
	margin-right: 2px;	
}
.dfmessage{
	color: #333333;
	display: inline-block;	
    vertical-align: top;
}
.dffloat{
	float: left;
	width: 73%;
}

.dfchatinput{
	font-size: 21px;
	color: #cccccc;
	line-height: 58.3px;
	display: inline-block;
	border: none;
	background-color: transparent;
	max-width: 520px;
	width: 100%;
	padding: 0 25px;
	outline: none;
}
.dfsend{
	display: inline-block;
	background-color: white;
	border: 1px solid #333333;
	color: #333333;
	font-size: 21px;
	border-radius: 6px;
	padding: 9px 17px;
	margin: 10px 0;
	-o-transition:0.7s;
	-webkit-transition:0.7s;
	-moz-transition:0.7s;
	transition:0.7s;
}
.dfsend:hover{
	background-color:#E1E1E1;
}




.dflogs{
	font-family: "Tahoma-Regular";
	text-align: left;
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #fff;
	font-size: 11.67px;
	max-width: 587px;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 65px;
}

.dflogsblock{
	padding: 14px 0px 14px 20px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
}
.dflogs .dflogsblock:last-child{
	border-bottom: none;
}
.dfbold{
	font-family: "Tahoma-Bold";
	background-color: #ecffec;
}
.dflogdate{
	display: inline-block;
	color: #cccccc;
	max-width: 120px;
	width: 100%;
	margin-right: 55px;
}
.dflogname{
	display: inline-block;
	color: #333333;
	max-width: 160px;
	width: 100%;
	overflow: hidden;
	margin-right: 47px;
}
.dflogcoins{
	display: inline-block;
	color: #333333;
	width: 100px;
	text-align: center;
}
.dflogmedium{
	display: inline-block;
	font-size: 13px;
	color: #ffffff;
	padding: 4px 5px;
	background-color: #6c6;
	background-image: -webkit-linear-gradient(bottom, #ff8d00 0%, #fc0 100%);
	background-image: linear-gradient(to top, #ff8d00 0%, #fc0 100%);
	border: 1px solid #ff8f00;
	border-radius: 4px;
	font-family: "Tahoma-Regular";
	
}
@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.dflogout{		
		margin-left: 140px;
		margin-top: 0;
	}
	.dfinp{		
		margin-right: 17px;
		margin-bottom: 0px;
	}	
}

@media only screen and (min-width : 1248px) {
}
